body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-row {
  border: solid black;
  background-color: rgb(216, 214, 214);
}

.nav-home-btn {
  cursor: pointer;
}

.board-comp {
  border: solid black;
  height: 150px;
  width: 250px;
  margin-bottom: 50px;
  background-color: rgb(19, 98, 218);
  color: white;
  cursor: pointer;
}

.new-board-comp {
  border: dotted black;
  height: 150px;
  width: 250px;
  background-color: rgb(204, 248, 204);
  cursor: pointer;
}

.homescreen-title {
  margin-top: 25px;
  margin-bottom: 50px;
}

.boards-all-row {
  margin-top: 50px;
}

.board-ind-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.list-comp {
  border: solid black;
  background-color: rgb(216, 214, 214);
  padding-left: 5px;
}

.new-list-comp {
  border: dotted black;
  background-color: rgb(204, 248, 204);
  cursor: pointer;
  padding-left: 5px;
  height: 32px;
}

.login-title {
  font-size: 90px;
}

.login-username-input {
  margin-top: 10px;
}

.login-password-input {
  margin-top: 10px;
}

.login-button {
  margin-top: 10px;
  width: 100%;
}

.container {
  background-color: rgb(245, 244, 244);
  border: solid thin black;
  margin-top: 10px;
}

.edit-icon {
  height: 25px;
  width: 25px;
  margin-right: 40px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.delete-icon {
  height: 25px;
  width: 25px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.sm-edit-icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.sm-delete-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.homescreen-edit-icon-col {
  padding-top: 35px;
}

.board-ind-title-icons-col {
  padding-bottom: 20px;
}

.card-listview {
  border-style: dotted;
  border-radius: 5px;
  border-color: rgb(20, 20, 199);
  border-width: thin;
  margin: 5px;
  background-color: whitesmoke;
  cursor: pointer;
}

.new-card-link {
  border-style: dotted;
  border-radius: 5px;
  border-color: rgb(20, 20, 199);
  border-width: thin;
  margin: 5px;
  background-color: rgb(238, 248, 152);
  cursor: pointer;
}

.col-listname {
  height: 27px;
  overflow: auto;
}
