body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-row {
  border: solid black;
  background-color: rgb(216, 214, 214);
}

.nav-home-btn {
  cursor: pointer;
}

.nav-home-btn:hover {
  text-decoration: underline;
}

.board-comp {
  border: solid black;
  height: 150px;
  width: 250px;
  margin-bottom: 50px;
  background-color: rgb(36, 85, 158);
  color: white;
  cursor: pointer;
}

.board-comp:hover {
  background-color: rgb(19, 98, 218);
}

.new-board-comp {
  border: dotted black;
  height: 150px;
  width: 250px;
  background-color: rgb(245, 244, 244);
  cursor: pointer;
}

.new-board-comp:hover {
  background-color: rgb(204, 248, 204);
}

.homescreen-title {
  margin-top: 25px;
  margin-bottom: 50px;
}

.boards-all-row {
  margin-top: 50px;
}

.board-ind-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.list-comp {
  border: solid black;
  background-color: rgb(216, 214, 214);
  padding-left: 10px;
  margin-bottom: 50px;
}

.new-list-comp {
  border: dotted black;
  background-color: rgb(245, 244, 244);
  cursor: pointer;
  padding-left: 10px;
}

.new-list-comp:hover {
  background-color: rgb(204, 248, 204);
}

.listname-text {
  margin-top: 3px;
}

.add-listname-text {
  margin-top: 3px;
}

.login-title {
  font-size: 90px;
}

.login-username-input {
  margin-top: 10px;
}

.login-password-input {
  margin-top: 10px;
}

.login-button {
  margin-top: 10px;
  width: 100%;
}

.app-container {
  background-color: rgb(245, 244, 244);
  border: solid thin black;
  margin-top: 10px;
}

.homescreen-edit-icon-col {
  padding-top: 35px;
}

.board-ind-title-icons-col {
  padding-bottom: 20px;
}

.new-list-input-col-outer {
  padding-top: 5px;
  padding-bottom: 5px;
  border: dotted black;
  background-color: rgb(216, 214, 214);
}

.new-list-input-col-inner {
  padding-left: 5px;
  padding-right: 5px;
}

.new-list-input-field {
  margin-bottom: 5px;
}

.new-list-input-button {
  margin-right: 15px;
}

.card-listview {
  border: solid thin rgb(20, 20, 199);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  line-height: 20px;
}

.card-listview:hover {
  background: rgba(255, 255, 255, 0.863);
}

.card-addView {
  border: dotted thin rgb(20, 20, 199);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  line-height: 20px;
}

.new-card-link {
  border-style: dotted;
  border-radius: 5px;
  border-color: rgb(20, 20, 199);
  border-width: thin;
  margin: 5px;
  background-color: rgb(250, 239, 193);
  cursor: pointer;
}

.new-card-link:hover {
  background-color: rgb(248, 231, 161);
}

.hide {
  display: none;
}

.cancel-card {
  margin-left: 5px;
  font-size: larger;
}

.add-card-text {
  margin-top: 2px;
  margin-left: 5px;
}

.new-card-btn {
  margin-right: 15px;
}

.new-card-input-field {
  margin-bottom: 5px;
}

.label {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.black {
  background: black;
}

.green {
  background: green;
}

.red {
  background: red;
}

.purple {
  background: purple;
}

.card-detail-modal .modal-content {
  background-color: rgb(247, 245, 245);
}

.list-drop-btn {
  margin-top: 2px;
  border: solid thin black;
  background-color: rgb(216, 214, 214);
}

.list-drop-btn:hover {
  background-color: rgb(129, 129, 129);
}

.col-listname-edit-input {
  margin-top: 5px;
}

.listname-edit-inp {
  border: dotted black;
  background-color: rgb(216, 214, 214);
  width: 100%;
}

.listname-edit-inp:hover {
  background-color: rgb(230, 227, 227);
}

.entire-list-row {
  overflow-x: auto;
}

.bg-cust {
  background-color: rgb(216, 214, 214) !important;
  border: none !important;
}

.card-detail-btn {
  width: 60px;
  margin-top: 20px;
}

.in-list-text {
  margin-top: 10px;
}

.labels-dropdown-options {
  padding-left: 10px;
}

.move-dropdown-options {
  padding-left: 10px;
}

.move-dropdown-save-btn {
  margin-left: 45px;
  margin-top: 10px;
}

.edit-icon {
  height: 30px;
  width: 30px;
  margin-right: 40px;
  cursor: pointer;
}

.plus-icon {
  margin-bottom: 3px;
  margin-right: 5px;
}

.sm-plus-icon {
  margin-top: 2px;
  margin-right: 5px;
}

.x-icon {
  cursor: pointer;
  margin-right: 10px;
}

.board-edit-icon {
  cursor: pointer;
  margin-right: 50px;
}

.board-edit-icon:hover {
  transform: scale(1.25);
}

.board-delete-icon {
  cursor: pointer;
}

.board-delete-icon:hover {
  transform: scale(1.25);
}

.ind-comment-row {
  width: 92%;
}

.ind-comment-col {
  background: white;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 13px;
  border: thin solid black;
}

.comment-input-row {
  margin-top: 10px;
  width: 88%;
}

.comment-username {
  margin: 1px;
  color: blue;
}

.comment-time {
  font-size: 75%;
  margin: 1px;
}

.comment-text {
  margin-top: 5px;
}

.com-inp-btn {
  width: 75px;
}

.all-comments-col {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: scroll;
}
